@using biz2biz.ViewModel
@using Kendo.Mvc.UI
@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Job Kategorier</h2>
<script type="text/javascript">
    function onChange(arg) {
        debugger;
        var grid = this;
        var model = grid.dataItem(grid.select());
        window.location.href = '@Url.Action("ProductCategories", "Home")?selectedViewModel='+model.ID;
    }
</script>

<script type="text/x-kendo-tmpl" id="template">

    <div class="product">
        <img src="@Url.Content("~/Images")#:ImageURL#" alt="#:Name# image" />
        <h3>#:Name#</h3>
    </div>
</script>

<div class="demo-section">
    @(Html.Kendo().ListView<CategoryViewModel>()
    .Name("listView")
    .TagName("div")
    .ClientTemplateId("template")
    .DataSource(dataSource =>
    {
        dataSource.Read(read => read.Action("GetAllJobCategories", "Home"));
        dataSource.PageSize(15);
    }).Selectable(selectable => selectable.Mode(ListViewSelectionMode.Single))
        .Events(events => events.Change("onChange"))
    )
</div>